* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rhap_container {
  background: transparent !important;
}

.rhap_main-controls-button {
  color: black !important;
}


.rhap_progress-section .rhap_time {
  color: black;
 
}
.rhap_repeat-button{
  display: none;
  
  color: black !important;
}
.rhap_progress-filled,
.rhap_progress-indicator {
  background-color: black !important;
}

.rhap_button-clear.rhap_volume-button {
  color: black !important;
}
.rhap_volume-bar, .rhap_volume-indicator {
  background-color: black !important;
}
.audio-player{
  position: relative;
  /* background-color: blue; */
}
.bookmark-button{
  position: absolute;
  top: 50px;
  left: 5px;
  color: black;
}

*::-webkit-scrollbar {
  display: none;
}
.main-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: black;
  color: whitesmoke;
  transition: 0.5s;
}
.sidebar h5 {
  cursor: pointer;
}
.search-bar {
  background-color: rgba(
    41,
    34,
    25,
    0.7
  ); /* Semi-transparent dark background */
  border-radius: 10px; /* Optional: adds rounded corners for a soft look */
  backdrop-filter: blur(10px); /* Adds a blur effect to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.search-bar input {
  background: transparent;
  border: none;
  outline: none;
}
.play-btn {
  border: none;
  outline: none;
  background: transparent;
  color: whitesmoke;
}
.thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.song-list-top {
  padding: 10px 0px;
}
.songs {
  height: 80vh;
  overflow-y: scroll;
}
.song {
  cursor: pointer;
}
.song:hover {
  background-color: rgba(
    41,
    34,
    25,
    0.7
  ); /* Semi-transparent dark background */
  border-radius: 10px; /* Optional: adds rounded corners for a soft look */
  backdrop-filter: blur(10px); /* Adds a blur effect to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.active-song {
  background-color: rgba(
    41,
    34,
    25,
    0.7
  ); /* Semi-transparent dark background */
  border-radius: 10px; /* Optional: adds rounded corners for a soft look */
  backdrop-filter: blur(10px); /* Adds a blur effect to the background */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adds subtle shadow for depth */
}
.toggle-btn {
  display: none;
}
.album {
  width: 75%;
  
}
.album-detail {
  margin: 10px 0;
}


.profile-img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  position: absolute;
  bottom: 10px;
  left: 10px;
}


@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 99;
    transform: translateX(-100%);
    transition: 0.3s;
  }

  .open {
    transform: translateX(0);
  }
  .toggle-btn {
    display: block;
  }
  .song-list-top {
    height: 95px;
  }
  .player {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0;
    display: flex;
  }

  .songs {
    height: 65vh;
  }

  .album {
    width: 90%;
    margin: auto;
    
    
  }
  .album-device{
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     justify-content: start;
     gap: 10px;

  }
  .album-detail {
    margin: 0px;
    
  }
  .album-detail h2 {
    line-height: 10px;
  }
  .album-top {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
  }

  .player img {
    width: 50px;
  }
}
